body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 60px 15px 25px;
}

#page-logo a{
    font-family: "Oleo Script", sans-serif;
    font-size: 50px;
    color: rgb(235, 235, 43);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul a{
    text-decoration: none;
    color: black;
}

header li{
    margin-left: 20px;
}