body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 15px 25px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#page-logo a{
    font-family: "Oleo Script", sans-serif;
    font-size: 50px;
    color: rgb(235, 235, 43);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a{
    text-decoration: none;
    color: yellow;
    padding: 7px;
    font-size: 20px;
    border-radius: 6px;
}

nav a:hover{
    background-color: yellow;
    color: black;
}

header li{
    margin-left: 20px;
}