body {
  background-color: rgb(68, 68, 68);
  color: orange;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 35px;
}

#logo {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

header a {
  color: orange;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
  font-size: 20px;
}

main h1 {
  font-size: 40px;
  text-align: center;
}

#new-meals {
  width: 80%;
  margin: 0 auto;
}

#meals-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.meal{
  background-color: rgb(228, 206, 182);
  border-radius: 5px;
  overflow: hidden;
}

.meal img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-description{
    text-align: center;
    padding: 10px 0;
    color: black;
}

.meal-description h2 {
  margin: 10px 0;
}

.add-btn{
  color: rgb(179, 117, 2);
  padding: 5px 10px;
  font-size: 18px;
}

.add-btn:hover{
  background-color: orange;
  border-radius: 5px;
}